<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>예상 매출액 예측 결과</title>
    <style>
        P{
    font-size:30px;
    
}
    </style>
    <link rel="stylesheet" href="/css/w3.css">
<link rel='stylesheet' href='css/youtubeControll.css' />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>예상 매출액 예측 결과</title>
<link rel ="stylesheet" type ="text/css" href ="css/signup.css">
<link rel ="stylesheet" type ="text/css" href ="css/signup.css">
</head>
<body>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
<body>
    <!-- Top.html include-->
<div w3-include-html="/topejs.html"></div>
<script>w3IncludeHTML();</script>
	
	<div id ="toppadding"></div>
	<form method ="post" action ="/process/value" > <!-- 서버로 데이터 넘기는 form --> 
		<div>
		<table align="center">
			<tr><td height=100px colspan="2"></td></tr>    <!-- 간격띠는 행 -->
			<tr><td colspan="2" align="center"><a href ="form.jsp"><img width="800px" style="overray" src = "/img/frame.png"></a></td></tr>    <!-- 자러왔다. 이미지  -->
			<tr><th colspan="2" height="20px"><h2>예상 매출액 예측</h2></th></tr>
			<tr><th align ="left">&emsp;지역(구) </th><td ><input type ="text" id ="region" name ="region" size=40 value = <%= rows.region%> ></td></tr>
			<tr><th align="left" >&emsp;상주인구수 </th>
				<td ><input type ="text" id ="livingPeople" name ="livingPeople" size=40 value = <%= rows.livingPeople%> ></td></tr>
			<tr><th align="left">&emsp;유사점포수  </th>
				<td ><input type ="text" id= "numberStore" name ="numberStore" size=40 value = <%= rows.numberStore%>></td></tr>
			<tr><th align ="left">&emsp;직장인구수  </th>
				<td ><input type ="text" id ="workingPeople" name ="workingPeople" size=40 value = <%= rows.workingPeople%>></td></tr>
			<tr><th align ="left">&emsp;유동인구수  </th>
				<td ><input type ="text" id="movingPeople" name ="movingPeople" size=40 value = <%=rows.movingPeople%>></td></tr>
			<tr><td colspan ="2"></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			
		  <tr><td colspan="2" align="center"> <p style="color:#ff8000">예상매출액(월) : ￦<%=rows.predOutput%></p></td></tr>
            <tr><td colspan="2" align="center"><a href = "/signup.html"></a><img src ="/img/back.png"></td></tr> 
			<tr><td colspan="2" align="center"><img width="800px" src = "/img/frame2.png"></td></tr>  
		      

            
		
		</table>
		</div>
	</form>
    <div w3-include-html="/footer.html"></div>

</body>
</html>